.leaflet-control-bsl {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 10px;
	background-image: url(assets/img/compass.png);
	background-size: 100% 100%;
	margin: 0 auto;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}